.app-presentation .middle {
	margin-top: 140px;
}
.app-presentation .bottom {
	background: #f5f6fa;
	margin-top: -105px;
}

.allin ul li {
	display: inline-block;
	width: auto;
	text-align: right;
}
.allin ul li:first-child {
	float: left;
	width: 36%;
}
.allin ul li:last-child {
	float: right;
	width: 50%;
}
.allin ul li:last-child img {
	max-width: 530px;
	width: 100%;
	display: inline-block;
	margin-top: 125px;
	margin-right: 30px;
	box-shadow: 0 15px 15px 0 rgba( 0, 0, 0, 0.5)
}
.allin ul li h3 {
	font-family: 'dosisregular';
	font-size: 30px;
	color: #000;
	margin-top: 140px;
	margin-bottom: 50px;
}
.allin ul li p {
	text-align: right;
	font-size: 14px;
	color: #97a4be;
	margin-bottom: 50px;
	max-width: 455px;
	line-height: 25px;
}
.allin ul li a:hover,
.allin ul li a:visited,
.allin ul li a:focus, {
	text-decoration: none;
	outline: none;
}
.allin ul li a {
	padding: 13px;
	border-radius: 6px;
	border: 1px solid #fff;
	color: #233148;
	font-size: 17px;
	background: #00fff0;
	font-family: 'dosisregular';
	float: right;
	text-decoration: none;
}
.smartphone {
	width: 50%;
	float: left;
}
.smartphone img {
	display: inline-block;
	width: 95%;
	max-width: 600px;
}
.smartphone-info {
	width: 50%;
	float: right;
}
.smartphone-info ul li {
	text-align: center;
	box-shadow: 0 0 5px 0px rgba(0,0,0, 0.5);
	width: 100%;
	margin-bottom: 20px;
}
.smartphone-info ul li h3 {
	font-size: 17px;
	color: #233148;
	padding: 30px 65px 25px 80px;
	text-align: left;
}
.smartphone-info ul li p {
	font-size: 14px;
	color: #233148;
	padding: 0 65px 35px 80px;
	text-align: left;
	line-height: 25px;
}
.smartphone-info ul li img {
	float: left;
    padding: 25px 25px;
    display: inline-block;
}
.treephones img	{
	width: 100%;
	display: inline-block;
}
.treephones .first {
	max-width: 180px;
	max-height: 320px;
	width: 100%;
	margin-left: -28px;
}
.treephones .second {
	width: 100%;
	max-width: 260px;
	max-height: 455px;
	margin-left: -65px;
	margin-right: -56px;
}
.treephones .third {
	width: 100%;
	max-width: 180px;
	max-height: 300px;
}


	/*Large*/
@media only screen and (max-width: 1200px){

}
@media only screen and ( max-width: 1105px){
	.treephones .first {
		width: 38% !important;
	}
	.treephones .second {
		width: 55% !important;
	}
	.treephones .third {
		width: 32% !important;
	}
}




	/*Mid*/
@media only screen and (max-width: 992px){
	/*.treephones img {
		width: 33% !important;
	}*/
}
	/*Small*/
@media only screen and (max-width: 768px){
	.allin ul li:first-child {
	float: none;
	width: 100%;
	text-align: center;
	}
	.allin ul li:last-child {
	float: none;
	width: 100%;
	}
	.allin ul li:last-child img {
	margin-right: 0;
	}
	.allin ul li a {
	float: none;
	}
	.allin ul li p {
		max-width: none;
		font-size: 18px;
		margin-bottom: 100px;
	}
	.smartphone-info {
	width: 100%;
	float: none;
	margin-top: -30px;
	}
	.smartphone {
	width: 100%;
	float: none;
	}
	.smartphone img {
		width: 100%;
		margin-top: -165px;
		margin-bottom: -15px;
	}
	.app-presentation .bottom {
		margin-top: 0;
	}
	.bottom .left {
		width: 100%;
		float: none;
	}
}
	/*Extra small*/
@media only screen and (max-width: 500px){
	.treephones .first {
		margin-left: 16px;
	}
}