@keyframes loop {
	0% {
		margin-bottom: 0px;
	}

	50% {
		margin-bottom: 25px;
		opacity: 0.5;
	}
	100% {
		margin-bottom: 0px;
	}
}


.bg_food:before {
	background-image: url('../img/image1.jpg');
}

.bg_food-two:before {
	background-image: url('../img/image2.jpg');
}

.bg_food-three:before {
	background-image: url('../img/image3.jpg');
}

.bg_food-four:before {
	background-image: url('../img/image4.jpg');
}

.bg_food-five:before {
	background-image: url('../img/image5.jpg');
}

.bg_food-six:before {
	background-image: url('../img/image6.jpg');
}

#presentation .menu-shell .item-shell:before {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	
}




#presentation h2,
#presentation a {
	display: block;
	text-align: center;
	font-size: 35px;
	color: #28374b;
	font-family: 'lobsterregular';
}

#presentation h2 {margin: 65px 0 75px 0;}

#presentation a {
	margin: 45px 0 35px 0;
	padding-bottom: 55px;
}

#presentation a:hover,
#presentation a:visited,
#presentation a:focus {
	text-decoration: none;
}

#presentation .menu-shell {
	max-width: 1200px;
	margin: 0 auto;
}

#presentation .menu-shell:after,
#presentation .menu-shell .item-shell:after {
	content: '';
	clear: both;
	display: block;
}

#presentation .menu-shell .item-shell,
#presentation .menu-shell .item-shell .item-shell--unit {
	width: 50%;
	float: left;
}

#presentation .menu-shell .item-shell.inv:before {
	float: right;
}

#presentation .menu-shell .item-shell:before {
	content: '';
	display: block;
	width: 50%;
	float: left;
	padding-top: 42.80821917808219%;
}


#presentation .menu-shell .item-shell .item-shell--unit {
	position: relative;
}

#presentation .menu-shell .item-shell .item-shell--unit:after {
	content: '';
	display: block;
	padding-top: 85.616438335616438%;
}

#presentation .menu-shell .item-shell .content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #9fb0a5;
	padding: 40px;
	color: #fff;
	text-align: center;
}

#presentation .menu-shell .item-shell .content h3 {
	font-family: 'lobsterregular';
	font-size: 23px;
}

#presentation .menu-shell .item-shell .content p {
	font-family: 'montserratregular';
	font-size: 13px;
	line-height: 30px;
}

#presentation .menu-shell .item-shell .content span {
	font-family: 'lobsterregular';
	font-size: 23px;	
}

#presentation .menu-shell .item-shell .content a {
	display: none;
}

#presentation a {
	position: relative;
	cursor: default;
}

#presentation a i {
	position: absolute;
	display: block;
	width: 35px;
	height: 35px;
	cursor: pointer;

	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto auto 0 auto;
	transition: 0.3s;
}

#presentation a i:hover {
	margin-bottom: 30px;
	-webkit-animation: mymove 5s infinite;
	animation: loop 1s infinite;
}

/*Large -lg*/
@media only screen and (max-width: 1200px) {

}

/*Customize 1050*/
@media only screen and (max-width: 1050px) {
	#presentation .menu-shell .item-shell {
		width: 100%;
	}
	#presentation .menu-shell .item-shell .content {
		padding: 50px 20px;
	}
	#presentation .menu-shell .item-shell .content h3 {
		font-size: 50px;
		margin-bottom: 20px;
	}
	#presentation .menu-shell .item-shell .content p {
		font-size: 26px;
		margin-bottom: 20px;
	}
	#presentation .menu-shell .item-shell .content span {
		font-size: 30px;
	} 

}

/*Medium -md*/
@media only screen and (max-width: 992px) {

}

/*Customize*/
@media only screen and (max-width: 830px) {
	#presentation .menu-shell .item-shell .content {
		padding: 50px 10px 20px;
	}
	#presentation .menu-shell .item-shell .content h3 {
		font-size: 36px;
		margin-bottom: 15px;
	}
	#presentation .menu-shell .item-shell .content p {
		font-size: 20px;
	}
}

/*Small -sm*/
@media only screen and (max-width: 768px) {

}

/*Customize*/
@media only screen and (max-width: 630px) {		
	#presentation .menu-shell .item-shell .content {
		padding: 70px 20px;
	}
	#presentation .menu-shell .item-shell .content h3 {
		font-size: 55px;
		margin-bottom: 55px;
	}
	#presentation .menu-shell .item-shell .content p {
		font-size: 32px;
		margin-bottom: 60px
	}
	#presentation .menu-shell .item-shell .content span {
		font-size: 44px;
	}
	#presentation .menu-shell .item-shell:before {
	width: 100%;
	padding-top: 100%;
	}
	#presentation .menu-shell .item-shell .item-shell--unit {
	width: 100%;
	}

}

/*Extra small -xs*/
@media only screen and (max-width: 500px) {
	#presentation .menu-shell .item-shell .content {
		padding: 20px;
	}
	#presentation .menu-shell .item-shell .content h3 {
		font-size: 40px;
		margin-bottom: 30px;
	}
	#presentation .menu-shell .item-shell .content p {
		font-size: 26px;
		margin-bottom: 25px;
	}
	#presentation .menu-shell .item-shell .content span {
		font-size: 38px;
	}
}

/*Customiza*/
@media only screen and (max-width: 400px) {
	#presentation .menu-shell .item-shell .content {
		padding: 10px;
	}
	#presentation .menu-shell .item-shell .content h3 {
		font-size: 36px;
		margin-bottom: 15px;
	}
	#presentation .menu-shell .item-shell .content p {
		font-size: 18px;
		margin-bottom: 15px;
	}
	#presentation .menu-shell .item-shell .content span {
		font-size: 30px;
	}
}

/*Customiza*/
@media only screen and (max-width: 320px) {
	#presentation .menu-shell .item-shell .content {
		padding: 10px;
	}
	#presentation .menu-shell .item-shell .content h3 {
		font-size: 26px;
		margin-bottom: 10px;
	}
	#presentation .menu-shell .item-shell .content p {
		font-size: 16px;
		margin-bottom: 10px;
	}
	#presentation .menu-shell .item-shell .content span {
		font-size: 26px;
	}
}